body {
    background-color: aquamarine;
}

#plus {
    margin-left: 670px;
    position: absolute;
    top: 280px;
    font-size: 70px;
    background-color: #e0d119;
    border-radius: 20px;
}

#minus  {
    margin-left: 1100px;
    position: absolute;
    top: 280px;
    font-size: 70px;
    background-color: rebeccapurple;
    border-radius: 20px;
    width: 55px;
}

#schetchik {
    position: absolute;
    top: 300px;
    font-size: 40px;
    left: 900px;
}

#reset {
    position: absolute;
    top: 420px;
    font-size: 40px;
    background-color: chocolate;
    left: 863px;
    border-radius: 20px;
}