* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 14px 'Montserrat', sans-serif;
    font-weight: 400;
}

.container {
    width: 1110px;
    margin: 0 auto;
}
@media (max-width: 1110px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}
h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 53px;
}


h3 {
    font-size: 18px;
    font-weight: 600;
}



